body {
    font-family: sans-serif;
    
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container{
                
                max-width: 800px;
       font-family: sans-serif;
       padding-top: 20px;
       color: darkblue;
       background: white;
       padding-left: 30px;
       padding-right: 50px;
                    
            }